body{
background-color: rgb(249, 249, 249);
}


.container {
    font-family: arial;
    font-size: 24px;
    margin-top: 10%;
    margin-left: 38%;
    width: 300px;
    height: 350px;
    border-radius: 25px;
    outline: solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    /* Setup */
    position: relative;
  }
  
  .child {
    width: 50px;
    height: 50px;
    background-color: red;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  }